.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  justify-content: space-between;
}

.input {
  height: 39px;
  width: 100%;
  padding: 12px 20px;
  margin: 6px 0;
  border: 1px solid;
  border-radius: 6px;
}

.add-btn {
  width: 80px;
  margin: 6px;
  padding: 4px 16px;
  border-radius: 5px;
}
